## **Ejercicio en clase 1 - ETL**

Daniela Gómez Ayalde

#### **Librerías**

Se importan las librerías necesarias para ejecutar el código correctamente.

In [1]:
import yaml
import psycopg2
import pandas as pd
from psycopg2 import sql
from sqlalchemy import create_engine, text

#### **Lectura de CSV**

Se leen los datos en formato *.csv* utilizando la librería Pandas.

In [3]:
df = pd.read_csv("candidates.csv", delimiter=";")
df

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

#### **Cargar archivo de configuración**

Se define una función *load_config* que carga la configuración desde un archivo YAML y devuelve su contenido en forma de un diccionario de Python.

In [4]:
def load_config(file_path="config.yaml"):
    with open(file_path, "r") as file:
        return yaml.safe_load(file)

#### **Conexión a la base de datos**

Se establece la conexión a una base de datos PostgreSQL utilizando la configuración almacenada en el archivo YAML.

In [ ]:
config = load_config()
db_config = config["database"]

# Cargar credenciales
db_user = db_config["user"]
db_password = db_config["password"]
db_host = db_config["host"]
db_port = db_config["port"]
db_name = db_config["name"]

# Conexión a la DB
conn = psycopg2.connect(
    dbname="postgres",
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)
conn.autocommit = True

#### **Crear base de datos**

Se intenta crear una nueva base de datos en PostgreSQL utilizando la conexión establecida previamente.

In [6]:
try:
    with conn.cursor() as cur:
        cur.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(db_name)))
        print(f"Base de datos '{db_name}' creada exitosamente.")
except psycopg2.errors.DuplicateDatabase:
    print(f"La base de datos '{db_name}' ya existe.")
finally:
    conn.close()

Base de datos 'ejercicio1_db' creada exitosamente.

#### **Crear tabla que contendrá los datos crudos**

Se utiliza SQLAlchemy para conectarse a la base de datos PostgreSQL y crear una tabla llamada *'raw_data'* si aún no existe.

In [7]:
engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS raw_data (
            id SERIAL PRIMARY KEY,
            first_name VARCHAR(100),
            last_name VARCHAR(100),
            email VARCHAR(100),
            application_date DATE,
            country VARCHAR(100),
            yoe INT,
            seniority VARCHAR(100),
            technology VARCHAR(100),
            code_challenge_score INT,
            technical_interview_score INT
        );
    """))
    conn.commit()  # Asegúrate de confirmar los cambios
    print("Tabla 'raw_data' creada exitosamente en PostgreSQL.")

Tabla 'raw_data' creada exitosamente en PostgreSQL.

#### **Cambiar nombre de columnas en dataframe**

Se cambia el nombre de las columnas del dataframe para que coincidan con los nombres de las columnas de la tabla creada anteriormente.

In [8]:
df.columns = ['first_name', 'last_name', 'email', 'application_date', 'country', 'yoe', 'seniority', 'technology', 'code_challenge_score', 'technical_interview_score']
df

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

#### **Cargar datos a la tabla**

Se inserta el DataFrame en la tabla *'raw_data'* de la base de datos utilizando SQLAlchemy.

In [9]:
with engine.connect() as conn:
    df.to_sql("raw_data", con=engine, if_exists="append", index=False)

print("Raw data stored successfully in table 'raw_data'.")

Raw data stored successfully in table 'raw_data'.

#### **Leer datos de la tabla**

Este código consulta y muestra los primeros 50 registros de la tabla *'raw_data'* en la base de datos PostgreSQL.

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM raw_data;"))
    rows = result.fetchall()

# Mostrar los primeros 50 resultados
print("Datos en 'raw_data':")
for row in rows[:50]:
    print(row)

Datos en 'raw_data':
(1, 'Bernadette', 'Langworth', 'leonard91@yahoo.com', datetime.date(2021, 2, 26), 'Norway', 2, 'Intern', 'Data Engineer', 3, 3)
(2, 'Camryn', 'Reynolds', 'zelda56@hotmail.com', datetime.date(2021, 9, 9), 'Panama', 10, 'Intern', 'Data Engineer', 2, 10)
(3, 'Larue', 'Spinka', 'okey_schultz41@gmail.com', datetime.date(2020, 4, 14), 'Belarus', 4, 'Mid-Level', 'Client Success', 10, 9)
(4, 'Arch', 'Spinka', 'elvera_kulas@yahoo.com', datetime.date(2020, 10, 1), 'Eritrea', 25, 'Trainee', 'QA Manual', 7, 1)
(5, 'Larue', 'Altenwerth', 'minnie.gislason@gmail.com', datetime.date(2020, 5, 20), 'Myanmar', 13, 'Mid-Level', 'Social Media Community Management', 9, 7)
(6, 'Alec', 'Abbott', 'juanita_hansen@gmail.com', datetime.date(2019, 8, 17), 'Zimbabwe', 8, 'Junior', 'Adobe Experience Manager', 2, 9)
(7, 'Allison', 'Jacobs', 'alba_rolfson27@yahoo.com', datetime.date(2018, 5, 18), 'Wallis and Futuna', 19, 'Trainee', 'Sales', 2, 9)
(8, 'Nya', 'Skiles', 'madisen.zulauf@gmail.com', datetime.date(2021, 12, 9), 'Myanmar', 1, 'Lead', 'Mulesoft', 2, 5)
(9, 'Mose', 'Lakin', 'dale_murazik@hotmail.com', datetime.date(2018, 3, 13), 'Italy', 18, 'Lead', 'Social Media Community Management', 7, 10)
(10, 'Terrance', 'Zieme', 'dustin31@hotmail.com', datetime.date(2022, 4, 8), 'Timor-Leste', 25, 'Lead', 'DevOps', 2, 0)
(11, 'Aiyana', 'Goodwin', 'vallie.damore@yahoo.com', datetime.date(2019, 9, 22), 'Armenia', 24, 'Intern', 'Development - CMS Backend', 4, 9)
(12, 'Emilia', 'Waelchi', 'peter.grady@gmail.com', datetime.date(2020, 7, 15), 'French Southern Territories', 28, 'Lead', 'DevOps', 7, 4)
(13, 'Terrell', 'Streich', 'meta92@yahoo.com', datetime.date(2021, 12, 27), 'Chad', 3, 'Mid-Level', 'Salesforce', 5, 10)
(14, 'Hilda', 'Rodriguez', 'jordan.hyatt@hotmail.com', datetime.date(2020, 5, 9), 'El Salvador', 16, 'Junior', 'System Administration', 7, 8)
(15, 'Hope', 'Hansen', 'clemmie.bruen@hotmail.com', datetime.date(2019, 10, 12), 'Mozambique', 18, 'Architect', 'Security', 4, 1)
(16, 'Arno', 'Altenwerth', 'cheyenne_rau2@gmail.com', datetime.date(2018, 10, 18), 'Brunei Darussalam', 21, 'Mid-Level', 'Game Development', 4, 6)
(17, 'Betty', 'Crona', 'judd.wisozk55@gmail.com', datetime.date(2020, 3, 25), 'Morocco', 28, 'Architect', 'Social Media Community Management', 5, 5)
(18, 'Clint', 'Oberbrunner', 'dwight_jacobson@gmail.com', datetime.date(2021, 5, 23), 'Saint Helena', 19, 'Senior', 'Social Media Community Management', 3, 5)
(19, 'Donny', 'Boehm', 'lucile97@hotmail.com', datetime.date(2018, 5, 2), 'Portugal', 20, 'Trainee', 'Development - CMS Frontend', 4, 2)
(20, 'Adah', 'Pouros', 'derick1@gmail.com', datetime.date(2021, 4, 13), 'Mozambique', 3, 'Architect', 'Adobe Experience Manager', 2, 3)
(21, 'Winona', 'Zboncak', 'doyle78@yahoo.com', datetime.date(2019, 3, 21), 'Central African Republic', 29, 'Architect', 'Game Development', 0, 2)
(22, 'Eulalia', 'Wiza', 'lauriane42@gmail.com', datetime.date(2020, 7, 12), 'Seychelles', 11, 'Lead', 'Security Compliance', 4, 1)
(23, 'Crawford', 'Ullrich', 'bruce.koch7@yahoo.com', datetime.date(2021, 1, 9), 'Dominica', 14, 'Junior', 'Game Development', 8, 8)
(24, 'Daphney', 'Price', 'einar.schmidt@yahoo.com', datetime.date(2021, 7, 27), 'Finland', 24, 'Mid-Level', 'Development - Backend', 7, 5)
(25, 'Shana', 'Kuphal', 'sydnie_hoppe@yahoo.com', datetime.date(2019, 11, 18), 'Belgium', 3, 'Architect', 'DevOps', 5, 6)
(26, 'Marion', 'Ullrich', 'darius.gleason1@hotmail.com', datetime.date(2018, 4, 25), 'Niue', 6, 'Lead', 'Social Media Community Management', 8, 4)
(27, 'Dorian', 'Zboncak', 'kyleigh55@yahoo.com', datetime.date(2020, 1, 26), 'Japan', 5, 'Lead', 'Design', 8, 10)
(28, 'Earlene', 'Ullrich', 'margaret44@hotmail.com', datetime.date(2021, 12, 4), 'Palestinian Territory', 21, 'Junior', 'Security', 6, 8)
(29, 'Kurt', 'Stanton', 'anahi52@gmail.com', datetime.date(2022, 1, 5), 'Faroe Islands', 0, 'Trainee', 'Business Analytics / Project Management', 1, 4)
(30, 'Anya', 'Gleichner', 'korbin_torp@gmail.com', datetime.date(2020, 11, 28), 'Latvia', 0, 'Junior', 'Mulesoft', 5, 1)
(31, 'Telly', "O'Conner", 'ansel.schultz20@gmail.com', datetime.date(2019, 5, 25), 'Saint Helena', 25, 'Mid-Level', 'Security', 5, 0)
(32, 'Lucas', 'Wehner', 'alda.mosciski@yahoo.com', datetime.date(2018, 9, 21), 'Saudi Arabia', 13, 'Senior', 'Development - Backend', 3, 7)
(33, 'Oscar', 'Grady', 'kayla.kuphal@yahoo.com', datetime.date(2018, 3, 4), 'Poland', 29, 'Architect', 'Mulesoft', 3, 6)
(34, 'Bernie', 'Wolf', 'polly.kshlerin@hotmail.com', datetime.date(2021, 8, 19), 'Micronesia', 20, 'Intern', 'Client Success', 10, 0)
(35, 'Tierra', 'Romaguera', 'pete.reichel@yahoo.com', datetime.date(2018, 8, 21), 'Panama', 9, 'Senior', 'Adobe Experience Manager', 8, 8)
(36, 'Madyson', 'Hahn', 'tamia_braun61@hotmail.com', datetime.date(2020, 6, 24), 'Macao', 17, 'Lead', 'DevOps', 4, 2)
(37, 'Abdullah', 'Gutkowski', 'bailey.kessler@gmail.com', datetime.date(2018, 3, 13), 'Bangladesh', 9, 'Senior', 'Development - Frontend', 3, 5)
(38, 'Grayce', 'Boyer', 'matilda17@gmail.com', datetime.date(2019, 1, 7), 'Taiwan', 27, 'Intern', 'Development - FullStack', 8, 0)
(39, 'Bell', 'Bruen', 'kylee.crona@gmail.com', datetime.date(2022, 1, 26), 'Slovakia (Slovak Republic)', 9, 'Intern', 'Development - CMS Frontend', 10, 4)
(40, 'Nyasia', 'Orn', 'dusty_wehner@hotmail.com', datetime.date(2019, 12, 16), 'Mexico', 4, 'Intern', 'Business Intelligence', 2, 2)
(41, 'Daryl', 'Streich', 'shawna_sauer7@hotmail.com', datetime.date(2022, 3, 25), 'Nigeria', 8, 'Lead', 'Development - FullStack', 4, 0)
(42, 'Jenifer', 'Gibson', 'daphney.schmidt@gmail.com', datetime.date(2018, 10, 4), 'Guadeloupe', 26, 'Trainee', 'Database Administration', 3, 3)
(43, 'River', 'Erdman', 'dewayne50@gmail.com', datetime.date(2019, 12, 2), 'Bosnia and Herzegovina', 4, 'Lead', 'Security Compliance', 3, 6)
(44, 'Heber', 'Luettgen', 'mariela82@yahoo.com', datetime.date(2020, 9, 10), 'Guyana', 18, 'Senior', 'Security', 5, 0)
(45, 'Alejandra', 'Bergstrom', 'taya.stoltenberg@yahoo.com', datetime.date(2021, 3, 7), 'Croatia', 27, 'Mid-Level', 'DevOps', 0, 0)
(46, 'Sim', 'Bernhard', 'mable94@gmail.com', datetime.date(2021, 7, 5), 'Svalbard & Jan Mayen Islands', 13, 'Mid-Level', 'Development - Frontend', 6, 5)
(47, 'Davonte', 'Stamm', 'emerson.grady99@yahoo.com', datetime.date(2021, 4, 9), 'Yemen', 11, 'Junior', 'DevOps', 7, 8)
(48, 'Nona', 'Purdy', 'ryleigh71@hotmail.com', datetime.date(2019, 4, 26), 'Nigeria', 11, 'Intern', 'Game Development', 2, 8)
(49, 'Jo', 'Hane', 'brooke.mann@yahoo.com', datetime.date(2020, 12, 24), 'Ukraine', 10, 'Senior', 'Adobe Experience Manager', 6, 2)
(50, 'Ashlynn', 'Kirlin', 'lewis_kirlin@gmail.com', datetime.date(2021, 3, 28), 'Zambia', 28, 'Lead', 'Business Analytics / Project Management', 2, 9)

#### **Convertir a dataframe los datos de la tabla**

Se consulta todos los registros de la tabla *'raw_data'* en la base de datos y los carga directamente en un DataFrame de pandas (df_db).

In [11]:
with engine.connect() as conn:
    df_db = pd.read_sql("SELECT * FROM raw_data", conn)

df_db

,id,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score
0,1,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,2,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,3,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,4,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,5,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,49997,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,49998,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,49999,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,50000,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

#### **Realizar transformaciones**

Este código crea una copia del DataFrame original y agrega una nueva columna llamada "hired" que indica si un candidato fue contratado o no, basado en sus puntajes.

In [ ]:
df_transformed = df_db.copy()
df_transformed["hired"] = df_transformed.apply(
    lambda x: "Hired" if x["code_challenge_score"] >= 7 and x["technical_interview_score"] >= 7 else "Not Hired", axis=1)

# Mostrar las primeras 5 filas del Dataframe transformado
df_transformed.head()

,id,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score,hired
0,1,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,Not Hired
1,2,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,Not Hired
2,3,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,Hired
3,4,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,Not Hired
4,5,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,Hired

#### **Crear tabla que contendrá los datos transformados**

Se intenta crear una tabla llamada *'transformed_data'* en la base de datos PostgreSQL para almacenar los datos transformados.

In [13]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS transformed_data (
            id SERIAL PRIMARY KEY,
            first_name VARCHAR(100),
            last_name VARCHAR(100),
            email VARCHAR(100),
            application_date DATE,
            country VARCHAR(100),
            yoe INT,
            seniority VARCHAR(100),
            technology VARCHAR(100),
            code_challenge_score INT,
            technical_interview_score INT,
            hired VARCHAR(20)
        );
    """))
    conn.commit()  # Asegúrate de confirmar los cambios
    print("Tabla 'transformed_data' creada exitosamente en PostgreSQL.")

Tabla 'transformed_data' creada exitosamente en PostgreSQL.

#### **Cargar los datos transformados a la tabla**

Se insertan los datos del DataFrame *df_transformed* en la tabla *'transformed_data'* de la base de datos PostgreSQL utilizando SQLAlchemy y Pandas.

In [14]:
with engine.connect() as conn:
    df_transformed.to_sql("transformed_data", con=engine, if_exists="append", index=False)

print("Datos almacenados correctamente en la tabla 'transformed_data'.")

Datos almacenados correctamente en la tabla 'transformed_data'.

#### **Leer datos de la tabla**

Este código verifica si la tabla *'transformed_data'* se ha creado correctamente y muestra los primeros 50 registros almacenados.

In [18]:
# Leer datos de la tabla para verificar que haya sido creada correctamente
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM transformed_data;"))
    rows = result.fetchall()

# Mostrar los primeros 50 resultados
print("Datos en 'transformed_data':")
for row in rows[:50]:
    print(row)

Datos en 'transformed_data':
(1, 'Bernadette', 'Langworth', 'leonard91@yahoo.com', datetime.date(2021, 2, 26), 'Norway', 2, 'Intern', 'Data Engineer', 3, 3, 'Not Hired')
(2, 'Camryn', 'Reynolds', 'zelda56@hotmail.com', datetime.date(2021, 9, 9), 'Panama', 10, 'Intern', 'Data Engineer', 2, 10, 'Not Hired')
(3, 'Larue', 'Spinka', 'okey_schultz41@gmail.com', datetime.date(2020, 4, 14), 'Belarus', 4, 'Mid-Level', 'Client Success', 10, 9, 'Hired')
(4, 'Arch', 'Spinka', 'elvera_kulas@yahoo.com', datetime.date(2020, 10, 1), 'Eritrea', 25, 'Trainee', 'QA Manual', 7, 1, 'Not Hired')
(5, 'Larue', 'Altenwerth', 'minnie.gislason@gmail.com', datetime.date(2020, 5, 20), 'Myanmar', 13, 'Mid-Level', 'Social Media Community Management', 9, 7, 'Hired')
(6, 'Alec', 'Abbott', 'juanita_hansen@gmail.com', datetime.date(2019, 8, 17), 'Zimbabwe', 8, 'Junior', 'Adobe Experience Manager', 2, 9, 'Not Hired')
(7, 'Allison', 'Jacobs', 'alba_rolfson27@yahoo.com', datetime.date(2018, 5, 18), 'Wallis and Futuna', 19, 'Trainee', 'Sales', 2, 9, 'Not Hired')
(8, 'Nya', 'Skiles', 'madisen.zulauf@gmail.com', datetime.date(2021, 12, 9), 'Myanmar', 1, 'Lead', 'Mulesoft', 2, 5, 'Not Hired')
(9, 'Mose', 'Lakin', 'dale_murazik@hotmail.com', datetime.date(2018, 3, 13), 'Italy', 18, 'Lead', 'Social Media Community Management', 7, 10, 'Hired')
(10, 'Terrance', 'Zieme', 'dustin31@hotmail.com', datetime.date(2022, 4, 8), 'Timor-Leste', 25, 'Lead', 'DevOps', 2, 0, 'Not Hired')
(11, 'Aiyana', 'Goodwin', 'vallie.damore@yahoo.com', datetime.date(2019, 9, 22), 'Armenia', 24, 'Intern', 'Development - CMS Backend', 4, 9, 'Not Hired')
(12, 'Emilia', 'Waelchi', 'peter.grady@gmail.com', datetime.date(2020, 7, 15), 'French Southern Territories', 28, 'Lead', 'DevOps', 7, 4, 'Not Hired')
(13, 'Terrell', 'Streich', 'meta92@yahoo.com', datetime.date(2021, 12, 27), 'Chad', 3, 'Mid-Level', 'Salesforce', 5, 10, 'Not Hired')
(14, 'Hilda', 'Rodriguez', 'jordan.hyatt@hotmail.com', datetime.date(2020, 5, 9), 'El Salvador', 16, 'Junior', 'System Administration', 7, 8, 'Hired')
(15, 'Hope', 'Hansen', 'clemmie.bruen@hotmail.com', datetime.date(2019, 10, 12), 'Mozambique', 18, 'Architect', 'Security', 4, 1, 'Not Hired')
(16, 'Arno', 'Altenwerth', 'cheyenne_rau2@gmail.com', datetime.date(2018, 10, 18), 'Brunei Darussalam', 21, 'Mid-Level', 'Game Development', 4, 6, 'Not Hired')
(17, 'Betty', 'Crona', 'judd.wisozk55@gmail.com', datetime.date(2020, 3, 25), 'Morocco', 28, 'Architect', 'Social Media Community Management', 5, 5, 'Not Hired')
(18, 'Clint', 'Oberbrunner', 'dwight_jacobson@gmail.com', datetime.date(2021, 5, 23), 'Saint Helena', 19, 'Senior', 'Social Media Community Management', 3, 5, 'Not Hired')
(19, 'Donny', 'Boehm', 'lucile97@hotmail.com', datetime.date(2018, 5, 2), 'Portugal', 20, 'Trainee', 'Development - CMS Frontend', 4, 2, 'Not Hired')
(20, 'Adah', 'Pouros', 'derick1@gmail.com', datetime.date(2021, 4, 13), 'Mozambique', 3, 'Architect', 'Adobe Experience Manager', 2, 3, 'Not Hired')
(21, 'Winona', 'Zboncak', 'doyle78@yahoo.com', datetime.date(2019, 3, 21), 'Central African Republic', 29, 'Architect', 'Game Development', 0, 2, 'Not Hired')
(22, 'Eulalia', 'Wiza', 'lauriane42@gmail.com', datetime.date(2020, 7, 12), 'Seychelles', 11, 'Lead', 'Security Compliance', 4, 1, 'Not Hired')
(23, 'Crawford', 'Ullrich', 'bruce.koch7@yahoo.com', datetime.date(2021, 1, 9), 'Dominica', 14, 'Junior', 'Game Development', 8, 8, 'Hired')
(24, 'Daphney', 'Price', 'einar.schmidt@yahoo.com', datetime.date(2021, 7, 27), 'Finland', 24, 'Mid-Level', 'Development - Backend', 7, 5, 'Not Hired')
(25, 'Shana', 'Kuphal', 'sydnie_hoppe@yahoo.com', datetime.date(2019, 11, 18), 'Belgium', 3, 'Architect', 'DevOps', 5, 6, 'Not Hired')
(26, 'Marion', 'Ullrich', 'darius.gleason1@hotmail.com', datetime.date(2018, 4, 25), 'Niue', 6, 'Lead', 'Social Media Community Management', 8, 4, 'Not Hired')
(27, 'Dorian', 'Zboncak', 'kyleigh55@yahoo.com', datetime.date(2020, 1, 26), 'Japan', 5, 'Lead', 'Design', 8, 10, 'Hired')
(28, 'Earlene', 'Ullrich', 'margaret44@hotmail.com', datetime.date(2021, 12, 4), 'Palestinian Territory', 21, 'Junior', 'Security', 6, 8, 'Not Hired')
(29, 'Kurt', 'Stanton', 'anahi52@gmail.com', datetime.date(2022, 1, 5), 'Faroe Islands', 0, 'Trainee', 'Business Analytics / Project Management', 1, 4, 'Not Hired')
(30, 'Anya', 'Gleichner', 'korbin_torp@gmail.com', datetime.date(2020, 11, 28), 'Latvia', 0, 'Junior', 'Mulesoft', 5, 1, 'Not Hired')
(31, 'Telly', "O'Conner", 'ansel.schultz20@gmail.com', datetime.date(2019, 5, 25), 'Saint Helena', 25, 'Mid-Level', 'Security', 5, 0, 'Not Hired')
(32, 'Lucas', 'Wehner', 'alda.mosciski@yahoo.com', datetime.date(2018, 9, 21), 'Saudi Arabia', 13, 'Senior', 'Development - Backend', 3, 7, 'Not Hired')
(33, 'Oscar', 'Grady', 'kayla.kuphal@yahoo.com', datetime.date(2018, 3, 4), 'Poland', 29, 'Architect', 'Mulesoft', 3, 6, 'Not Hired')
(34, 'Bernie', 'Wolf', 'polly.kshlerin@hotmail.com', datetime.date(2021, 8, 19), 'Micronesia', 20, 'Intern', 'Client Success', 10, 0, 'Not Hired')
(35, 'Tierra', 'Romaguera', 'pete.reichel@yahoo.com', datetime.date(2018, 8, 21), 'Panama', 9, 'Senior', 'Adobe Experience Manager', 8, 8, 'Hired')
(36, 'Madyson', 'Hahn', 'tamia_braun61@hotmail.com', datetime.date(2020, 6, 24), 'Macao', 17, 'Lead', 'DevOps', 4, 2, 'Not Hired')
(37, 'Abdullah', 'Gutkowski', 'bailey.kessler@gmail.com', datetime.date(2018, 3, 13), 'Bangladesh', 9, 'Senior', 'Development - Frontend', 3, 5, 'Not Hired')
(38, 'Grayce', 'Boyer', 'matilda17@gmail.com', datetime.date(2019, 1, 7), 'Taiwan', 27, 'Intern', 'Development - FullStack', 8, 0, 'Not Hired')
(39, 'Bell', 'Bruen', 'kylee.crona@gmail.com', datetime.date(2022, 1, 26), 'Slovakia (Slovak Republic)', 9, 'Intern', 'Development - CMS Frontend', 10, 4, 'Not Hired')
(40, 'Nyasia', 'Orn', 'dusty_wehner@hotmail.com', datetime.date(2019, 12, 16), 'Mexico', 4, 'Intern', 'Business Intelligence', 2, 2, 'Not Hired')
(41, 'Daryl', 'Streich', 'shawna_sauer7@hotmail.com', datetime.date(2022, 3, 25), 'Nigeria', 8, 'Lead', 'Development - FullStack', 4, 0, 'Not Hired')
(42, 'Jenifer', 'Gibson', 'daphney.schmidt@gmail.com', datetime.date(2018, 10, 4), 'Guadeloupe', 26, 'Trainee', 'Database Administration', 3, 3, 'Not Hired')
(43, 'River', 'Erdman', 'dewayne50@gmail.com', datetime.date(2019, 12, 2), 'Bosnia and Herzegovina', 4, 'Lead', 'Security Compliance', 3, 6, 'Not Hired')
(44, 'Heber', 'Luettgen', 'mariela82@yahoo.com', datetime.date(2020, 9, 10), 'Guyana', 18, 'Senior', 'Security', 5, 0, 'Not Hired')
(45, 'Alejandra', 'Bergstrom', 'taya.stoltenberg@yahoo.com', datetime.date(2021, 3, 7), 'Croatia', 27, 'Mid-Level', 'DevOps', 0, 0, 'Not Hired')
(46, 'Sim', 'Bernhard', 'mable94@gmail.com', datetime.date(2021, 7, 5), 'Svalbard & Jan Mayen Islands', 13, 'Mid-Level', 'Development - Frontend', 6, 5, 'Not Hired')
(47, 'Davonte', 'Stamm', 'emerson.grady99@yahoo.com', datetime.date(2021, 4, 9), 'Yemen', 11, 'Junior', 'DevOps', 7, 8, 'Hired')
(48, 'Nona', 'Purdy', 'ryleigh71@hotmail.com', datetime.date(2019, 4, 26), 'Nigeria', 11, 'Intern', 'Game Development', 2, 8, 'Not Hired')
(49, 'Jo', 'Hane', 'brooke.mann@yahoo.com', datetime.date(2020, 12, 24), 'Ukraine', 10, 'Senior', 'Adobe Experience Manager', 6, 2, 'Not Hired')
(50, 'Ashlynn', 'Kirlin', 'lewis_kirlin@gmail.com', datetime.date(2021, 3, 28), 'Zambia', 28, 'Lead', 'Business Analytics / Project Management', 2, 9, 'Not Hired')